<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wjx.dao.mapper.UserLogMapper">
    <select  id="login" resultType="org.wjx.dto.resp.UserLoginRespDTO">
        select id as user_id ,username,real_name
        from t_user
        <where>
            <if test="reqDTO.usernameOrMailOrPhone!='' or reqDTO.usernameOrMailOrPhone!=null ">
                (username=#{reqDTO.usernameOrMailOrPhone} or mail=#{reqDTO.usernameOrMailOrPhone} or phone=#{reqDTO.usernameOrMailOrPhone})
            </if>
            and password=#{reqDTO.password} and del_flag=0
        </where>
    </select>
</mapper>