<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wjx.dao.mapper.SeatMapper">

    <select id="listSeatRemainingTicket" resultType="java.lang.Integer">
        select count(1)
        from t_seat
        where train_id = #{seatDO.trainId}
          and start_station = #{seatDO.startStation}
          and end_station = #{seatDO.endStation}
          and seat_status = '0'
          and   carriage_number in
        <foreach collection="trainCarriageList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        group by carriage_number
    </select>
    <select id="countByTrainIdAndSeatTypeAndArrivalAndDeparture" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_seat ts
        WHERE ts.train_id = #{id}
          and start_station = #{Dearture}
          and end_station = #{Arrival}
          and seat_type = #{SeatType}
    </select>




</mapper>